@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
#main {
    text-align: center;
    padding-top: 2em;
    font-family: monospace;
    color: #777;
}
#main h1, #main h1 a {
    font-family:'Rock Salt';
    color: black;
    margin-bottom: 0.5em;
}
#main h1 a:hover {
    text-decoration: none;
}
#main .subtitle, #trg-article h2, #trg-article h3 {
    color: #444;
    padding-bottom: 0.5em;
    text-align: center;
}

#trg-article h2 {
    font-size: 1.3em;
}
#trg-article h3 {
    font-size: 1.1em;
    padding-top: 1.5em;
}
#trg-article h4 {
    font-size: 1em;
    font-weight: 900;
}

#main #trg-article {
    text-align: left;
    font-size: 0.85em;
}

#main #copyright {
    font-size: 0.7em;
    float: right;
    position: fixed;
    right: 1em;
    bottom: 1em;
}
